aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
search_engine_parser
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
curl -sL https://deb.nodesource.com/setup_16.x | bash -
requests
rich
dnspython
yt-dlp==2021.11.10.1
tgcrypto
gitpython
heroku3
regex
